@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 129 9% 90%;
    --foreground: 20 14.3% 4.1%;
    --card: 120 11% 95%;
    --card-foreground: 20 14.3% 4.1%;
    --popover: 120 11% 95%;
    --popover-foreground: 20 14.3% 4.1%;
    --primary: 135 29% 30%;
    --primary-foreground: 135 14% 96%;
    --secondary: 130 8% 85%;
    --secondary-foreground: 20 14.3% 4.1%;
    --muted: 130 8% 85%;
    --muted-foreground: 24 9.8% 10%;
    --accent: 47 88% 44%;
    --accent-foreground: 47 100% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 130 7% 80%;
    --input: 130 7% 80%;
    --ring: 135 29% 30%;
    --chart-1: 135 29% 30%;
    --chart-2: 47 88% 44%;
    --chart-3: 140 25% 40%;
    --chart-4: 45 80% 55%;
    --chart-5: 130 20% 50%;
    --radius: 0.75rem;

    --sidebar-background: 135 29% 25%;
    --sidebar-foreground: 135 5% 85%;
    --sidebar-primary: 47 88% 44%;
    --sidebar-primary-foreground: 47 100% 10%;
    --sidebar-accent: 135 29% 30%;
    --sidebar-accent-foreground: 0 0% 100%;
    --sidebar-border: 135 29% 20%;
    --sidebar-ring: 47 88% 44%;
  }
  .dark {
    --background: 20 14.3% 4.1%;
    --foreground: 0 0% 95%;
    --card: 24 9.8% 10%;
    --card-foreground: 0 0% 95%;
    --popover: 24 9.8% 10%;
    --popover-foreground: 0 0% 95%;
    --primary: 135 29% 30%;
    --primary-foreground: 135 14% 96%;
    --secondary: 12 6.5% 15.1%;
    --secondary-foreground: 0 0% 98%;
    --muted: 12 6.5% 15.1%;
    --muted-foreground: 24 5.4% 63.9%;
    --accent: 47 88% 44%;
    --accent-foreground: 47 100% 10%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 12 6.5% 15.1%;
    --input: 12 6.5% 15.1%;
    --ring: 135 29% 30%;
    --chart-1: 135 29% 30%;
    --chart-2: 47 88% 44%;
    --chart-3: 140 25% 40%;
    --chart-4: 45 80% 55%;
    --chart-5: 130 20% 50%;

    --sidebar-background: 24 9.8% 10%;
    --sidebar-foreground: 135 5% 85%;
    --sidebar-primary: 47 88% 44%;
    --sidebar-primary-foreground: 47 100% 10%;
    --sidebar-accent: 12 6.5% 15.1%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-border: 12 6.5% 15.1%;
    --sidebar-ring: 47 88% 44%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
