@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 220 20% 99%;
    --foreground: 224 71.4% 4.1%;
    --card: 0 0% 100%;
    --card-foreground: 224 71.4% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;
    --primary: 142 60% 30%;
    --primary-foreground: 142 75% 96%;
    --secondary: 220 14.3% 95.9%;
    --secondary-foreground: 220 9.1% 43.1%;
    --muted: 220 20% 94%;
    --muted-foreground: 225 8.9% 45.1%;
    --accent: 105 52% 88%;
    --accent-foreground: 142 60% 25%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 142 60% 30%;
    --chart-1: 142 60% 30%;
    --chart-2: 142 40% 50%;
    --chart-3: 142 25% 40%;
    --chart-4: 45 80% 55%;
    --chart-5: 130 20% 50%;
    --radius: 0.75rem;

    --sidebar-background: 0 0% 100%;
    --sidebar-foreground: 224 71.4% 4.1%;
    --sidebar-primary: 142 60% 30%;
    --sidebar-primary-foreground: 142 75% 96%;
    --sidebar-accent: 105 30% 90%;
    --sidebar-accent-foreground: 142 60% 25%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 142 60% 30%;
  }
  .dark {
    --background: 224 71.4% 4.1%;
    --foreground: 210 20% 98%;
    --card: 224 71.4% 4.1%;
    --card-foreground: 210 20% 98%;
    --popover: 224 71.4% 4.1%;
    --popover-foreground: 210 20% 98%;
    --primary: 142 60% 30%;
    --primary-foreground: 142 75% 96%;
    --secondary: 215 27.9% 16.9%;
    --secondary-foreground: 210 20% 98%;
    --muted: 220 10% 20%;
    --muted-foreground: 215 25% 65.1%;
    --accent: 105 20% 20%;
    --accent-foreground: 210 20% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;
    --ring: 142 60% 30%;
    
    --chart-1: 142 60% 30%;
    --chart-2: 142 40% 50%;
    --chart-3: 142 25% 40%;
    --chart-4: 45 80% 55%;
    --chart-5: 130 20% 50%;

    --sidebar-background: 224 71.4% 4.1%;
    --sidebar-foreground: 210 20% 98%;
    --sidebar-primary: 142 60% 30%;
    --sidebar-primary-foreground: 142 75% 96%;
    --sidebar-accent: 120 10% 20%;
    --sidebar-accent-foreground: 210 20% 98%;
    --sidebar-border: 215 27.9% 16.9%;
    --sidebar-ring: 142 60% 30%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
