@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'PT Sans', sans-serif;
}

@layer base {
  :root {
    --background: 240 10% 97%;
    --foreground: 142 60% 15%;
    --card: 132 43% 90%;
    --card-foreground: 142 60% 15%;
    --popover: 132 43% 90%;
    --popover-foreground: 142 60% 15%;
    --primary: 149 41% 26%;
    --primary-foreground: 0 0% 100%;
    --secondary: 132 43% 90%;
    --secondary-foreground: 142 60% 15%;
    --muted: 132 43% 94%;
    --muted-foreground: 142 25% 45%;
    --accent: 45 96% 77%;
    --accent-foreground: 45 90% 15%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 132 43% 86%;
    --input: 132 43% 86%;
    --ring: 149 41% 26%;
    --chart-1: 142 35% 30%;
    --chart-2: 142 40% 50%;
    --chart-3: 142 25% 40%;
    --chart-4: 45 80% 55%;
    --chart-5: 130 20% 50%;
    --radius: 0.75rem;

    --sidebar-background: 0 0% 100%;
    --sidebar-foreground: 224 71.4% 4.1%;
    --sidebar-primary: 142 35% 30%;
    --sidebar-primary-foreground: 142 75% 96%;
    --sidebar-accent: 140 15% 90%;
    --sidebar-accent-foreground: 142 35% 25%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 142 35% 30%;
  }
  .dark {
    --background: 142 35% 10%;
    --foreground: 132 43% 90%;
    --card: 142 35% 12%;
    --card-foreground: 132 43% 90%;
    --popover: 142 35% 8%;
    --popover-foreground: 132 43% 90%;
    --primary: 149 41% 26%;
    --primary-foreground: 0 0% 100%;
    --secondary: 142 25% 20%;
    --secondary-foreground: 132 43% 90%;
    --muted: 142 25% 18%;
    --muted-foreground: 132 43% 94%;
    --accent: 45 96% 77%;
    --accent-foreground: 45 90% 15%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 142 25% 25%;
    --input: 142 25% 22%;
    --ring: 149 41% 26%;
    
    --chart-1: 142 35% 30%;
    --chart-2: 142 40% 50%;
    --chart-3: 142 25% 40%;
    --chart-4: 45 80% 55%;
    --chart-5: 130 20% 50%;

    --sidebar-background: 224 71.4% 4.1%;
    --sidebar-foreground: 210 20% 98%;
    --sidebar-primary: 142 35% 30%;
    --sidebar-primary-foreground: 142 75% 96%;
    --sidebar-accent: 120 10% 20%;
    --sidebar-accent-foreground: 210 20% 98%;
    --sidebar-border: 215 27.9% 16.9%;
    --sidebar-ring: 142 35% 30%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
